<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    {{range .}}
        Date: {{.Date.Format "2006-01-02"}}
        Open: {{.Open}}
    {{end}}
</body>
</html>